infra/n8n/03_InvoiceBot.json
{
  "name": "03_InvoiceBot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "invoice",
        "options": {}
      },
      "id": "1",
      "name": "Webhook (milestone hit)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "// Expected body: {customer_name, customer_email, customer_gstin?, customer_address, line_items: [{name, qty, rate, sac?}], notes?, due_days?}\nconst b = $input.first().json.body;\nconst sub = b.line_items.reduce((s, i) => s + i.qty * i.rate, 0);\nconst gstRate = (b.customer_gstin && b.customer_gstin.startsWith('07')) ? {cgst: 0.09, sgst: 0.09, igst: 0} : {cgst: 0, sgst: 0, igst: 0.18}; // 07 = Delhi\nconst cgst = sub * gstRate.cgst;\nconst sgst = sub * gstRate.sgst;\nconst igst = sub * gstRate.igst;\nconst total = sub + cgst + sgst + igst;\nconst due = new Date(); due.setDate(due.getDate() + (b.due_days || 14));\nreturn { json: {\n  ...b,\n  invoice_number: 'AICS-' + new Date().toISOString().slice(0,10).replace(/-/g,'') + '-' + Math.floor(Math.random()*9000+1000),\n  invoice_date: new Date().toISOString().slice(0,10),\n  due_date: due.toISOString().slice(0,10),\n  subtotal: sub, cgst, sgst, igst, total,\n  sac_default: '998313',\n  supplier: { name: 'AICloudStrategist (Sole Proprietorship)', email: 'support@aicloudstrategist.com', gstin: '<TBD>', address: 'Delhi/NCR, India' }\n}};"
      },
      "id": "2",
      "name": "Build invoice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "url": "https://www.zohoapis.in/invoice/v3/invoices",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Zoho-oauthtoken {{$env.ZOHO_INVOICE_TOKEN}}"},
            {"name": "X-com-zoho-invoice-organizationid", "value": "={{$env.ZOHO_ORG_ID}}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customer_name\": \"{{ $json.customer_name }}\",\n  \"invoice_number\": \"{{ $json.invoice_number }}\",\n  \"date\": \"{{ $json.invoice_date }}\",\n  \"due_date\": \"{{ $json.due_date }}\",\n  \"line_items\": {{ JSON.stringify($json.line_items.map(i => ({name:i.name, quantity:i.qty, rate:i.rate, hsn_or_sac:i.sac||'998313'}))) }},\n  \"notes\": \"{{ $json.notes || 'Thank you for your business.' }}\"\n}",
        "options": {"timeout": 30000}
      },
      "id": "3",
      "name": "Create in Zoho Invoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 300],
      "disabled": true,
      "notes": "Enable after Zoho OAuth + ORG_ID env vars set."
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot{{$env.BOT_TOKEN}}/sendMessage",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{$env.TG_CHAT_ID}},\n  \"text\": \"🧾 Invoice draft\\n\\nCustomer: {{ $json.customer_name }}\\nInvoice #: {{ $json.invoice_number }}\\nSubtotal: ₹{{ $json.subtotal }}\\nGST: ₹{{ ($json.cgst + $json.sgst + $json.igst).toFixed(2) }}\\nTotal: ₹{{ $json.total.toFixed(2) }}\\nDue: {{ $json.due_date }}\\n\\nReply 'send' to dispatch via Zoho, 'edit: ...' to revise.\"\n}"
      },
      "id": "4",
      "name": "Send for approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Build invoice').first().json) }}"
      },
      "id": "5",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1400, 300]
    }
  ],
  "connections": {
    "Webhook (milestone hit)": {"main": [[{"node": "Build invoice", "type": "main", "index": 0}]]},
    "Build invoice": {"main": [[{"node": "Create in Zoho Invoice", "type": "main", "index": 0}, {"node": "Send for approval", "type": "main", "index": 0}]]},
    "Send for approval": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": ["aicloudstrategist", "billing"]
}
