apps/n8n/02_ContentDraft.json
{
  "name": "02_ContentDraft",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contentdraft",
        "options": {}
      },
      "id": "1",
      "name": "Webhook (topic + channel)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "url": "http://claude-mao:8080/run",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $env.SHIM_TOKEN }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ prompt: 'Draft a ' + ($json.body.channel || 'linkedin_post') + ' for AICloudStrategist (Rajiv, 22-yr senior cloud architect, FinOps focus, Delhi/NCR; ICP: Indian SMB CTOs/Founders with cloud spend INR 5-50L/month). Voice: confident senior practitioner. No hype, concrete numbers, no \"as an AI\", no \"in today\\'s fast-paced world\". Brief: ' + $json.body.brief + '. Format: LinkedIn post <=280 words with hook in line 1 and single CTA; cold DM <=80 words; email <=120 words signoff Rajiv. Return strict JSON: {\"draft\":\"...\",\"alternative_hook\":\"...\",\"why_this_works\":\"one sentence\"}', max_turns: 5 }) }}",
        "options": {"timeout": 240000}
      },
      "id": "2",
      "name": "Ask Mao (draft)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.result || '';\nconst match = raw.match(/\\{[\\s\\S]*\\}/);\nlet parsed = {};\ntry { parsed = JSON.parse(match ? match[0] : raw); } catch (e) { parsed = { draft: raw, parse_error: e.message }; }\nparsed.brief = $('Webhook (topic + channel)').first().json.body.brief;\nparsed.channel = $('Webhook (topic + channel)').first().json.body.channel || 'linkedin_post';\nparsed.created_at = new Date().toISOString();\nreturn { json: parsed };"
      },
      "id": "3",
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $env.BOT_TOKEN }}/sendMessage",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "chat_id", "value": "={{ $env.TG_CHAT_ID }}"},
            {"name": "text", "value": "=Draft for approval [{{ $json.channel }}]\n\n{{ $json.draft }}\n\nAlt hook: {{ $json.alternative_hook }}\nWhy: {{ $json.why_this_works }}\n\nReply 'send' to publish, 'edit: <changes>' to revise, or 'kill' to discard."}
          ]
        },
        "contentType": "form-urlencoded"
      },
      "id": "4",
      "name": "Send for approval (Telegram)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Parse').first().json) }}"
      },
      "id": "5",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1400, 300]
    }
  ],
  "connections": {
    "Webhook (topic + channel)": {"main": [[{"node": "Ask Mao (draft)", "type": "main", "index": 0}]]},
    "Ask Mao (draft)": {"main": [[{"node": "Parse", "type": "main", "index": 0}]]},
    "Parse": {"main": [[{"node": "Send for approval (Telegram)", "type": "main", "index": 0}]]},
    "Send for approval (Telegram)": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": ["aicloudstrategist", "outreach"]
}
